{% extends "blog/bbase.html" %}

{% block sidebar %}
    <style type="text/css">
        #sidebar { float: right; border: 1px dotted #ccc; padding: 4px; }
    </style>
    <div id="sidebar">
        Monthly Archive<br />
        {% for month in months %}
            <a href="{% url blog.views.month month.0 month.1 %}">
                {{ month.2 }}</a><br />
        {% endfor %}
    </div>
{% endblock %}

{% block content %}
    <div class="main">

        <!-- Posts -->
        <ul>
            {% for post in posts.object_list %}
                <h2 style="margin:3px; background:#cedff2; font-size:120%;" + \
                    "font-weight:bold; border:1px solid #a3b0bf; color:#000;" + \
                    "padding: 0.2em 0.4em;">
                    <div class="title">{{ post.title }}</div>
                </h2>
                <ul>
                    <div class="time" style="font-size:70%">{{ post.created }}</div>
                    <ul>
                        <div class="body">{{ post.body|linebreaks }}</div>
                        <div class="commentlink" style="text-align: right">
                            <a href="{% url blog.views.post post.pk %}">
                                Comments ({{ post.comment_set.count }})
                            </a>
                        </div>
                    </ul>
                </ul>
            {% endfor %}
        </ul>

        <!-- Next/Prev page links -->
        {% if posts.object_list and posts.paginator.num_pages > 1 %}
        <div class="pagination" style="margin-top: 20px; margin-left: 20px; ">
            <span class="step-links">
                {% if posts.has_previous %}
                <a href="?page={{ posts.previous_page_number }}">
                    newer entries &lt;&lt;
                </a>
                {% endif %}

                <span class="current">
                    &nbsp;Page {{ posts.number }} of {{ posts.paginator.num_pages }}
                </span>

                {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}"> 
                        &gt;&gt; older entries</a>
                {% endif %}
            </span>
        </div>
        {% endif %}

    </div>

{% endblock %}
